@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600;700;800&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Sono', sans-serif;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	background-color: #1c1c1c;
}
header{
	height: 7vh;
}
header > h1{
	color: gold;
}
header > p{
    text-align: center;
    color: gray;
}
main{
	position: relative;
	width: 99vw;
	height: 85vh;

	border: 2px solid gold;
}
main > img{
	margin: auto;
	width: 8vw;
	height: 20vh;
	position: absolute;
	top: 35vh;
	left: 44.5vw;

	transition: 0.25s;
}